{% extends "layout.html" %}
{% block content %}
<div id="sectionone">
    <h1 class="animated bounce">FURSO</h1>
    <h2 class="animated slideInLeft slower">Find Yourself A Friend</h2>
    <img class="animated fadeInRight slower" src="{{url_for('static', filename='ramiz-dedakovic-1332661-unsplash.jpg')}}" alt="dog-image"/>
    <button class="animated bounceInLeft slower">Adopt A Pet</button>
</div>
<div id="sectiontwo">
    <img data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="300" src="{{url_for('static', filename='justin-veenema-156592-unsplash.jpg')}}" alt="dog-image"/>
</div>
{% endblock %}
